<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brink</title>
</head>
<body ng-app="app" ng-controller="AppCtrl as app">

<form ng-submit="app.addCommit()">
    <input type="text" ng-model="app.name" size="30"
           placeholder="Name">
    <input type="text" ng-model="app.brinkPoint" size="30"
           placeholder="BrinkPoint">
    </br>
    <input type="submit" value="add">
</form>

<div ng-repeat="commit in app.commits">
    {{ commit.name }}
</div>

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>